In [9]:
import pandas as pd
import os
import re  # For extracting the year from sheet names

# Define file paths
excel_path = r"D:Downloads/datasets/mrt-3/ridership (2).xlsx"  # Update if needed
output_path = r"C:\Users\franj\notebooks\mrt\cleaned_ridership_data.csv"

# Read all sheets into a dictionary of DataFrames
sheets = pd.read_excel(excel_path, sheet_name=None)

# Inspect sheet names
print("Sheets found:", sheets.keys())

df_list = []
for sheet_name, df in sheets.items():
    # Extract year from sheet name (expects "DAILY YYYY" format)
    match = re.search(r"\d{4}", sheet_name)  # Finds a 4-digit year
    year = int(match.group()) if match else None  # Convert to integer
    
    if year is None:
        print(f"Warning: Could not extract year from sheet name '{sheet_name}'")
        continue  # Skip this sheet if year is missing
    
    df["Year"] = year  # Add a column to store the extracted year

    # Print first few rows for debugging
    print(f"\nFirst few rows of {sheet_name} (Year {year}):")
    print(df.head())

    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

# Drop "Unnamed" columns (empty column headers)
df = df.loc[:, ~df.columns.str.contains("Unnamed")]

# Ensure first row isn't mistakenly treated as data instead of column names
if df.columns[0] != "Date":
    df.columns = df.iloc[0]  # Set first row as column names
    df = df[1:]  # Drop the now duplicated first row

# Convert ridership columns to numeric (handling errors like #DIV/0!)
for col in df.columns:
    if col not in ["Date", "Year"]:  # Skip non-ridership columns
        df[col] = pd.to_numeric(df[col], errors="coerce")

# Check for any remaining non-numeric columns
print("\nNon-numeric columns:", df.select_dtypes(exclude=["number"]).columns.tolist())

# Remove rows where the railway was non-operational (i.e., all ridership values are NaN)
df = df.dropna(how="all", subset=df.columns[1:])  # Ignore 'Date' column in filtering

# Fill missing values with 0
df.fillna(0, inplace=True)

# Save cleaned dataset
os.makedirs(os.path.dirname(output_path), exist_ok=True)  # Ensure directory exists
df.to_csv(output_path, index=False)

print(f"\nCleaned dataset saved to: {output_path}")
print("Final dataset preview:")
print(df.head())

Sheets found: dict_keys(['DAILY 1999', 'DAILY 2000', 'DAILY 2001', 'DAILY 2002', 'DAILY 2003', 'DAILY 2004', 'DAILY 2005', 'DAILY 2006', 'DAILY 2007', 'DAILY 2008', 'DAILY 2009', 'DAILY 2010', 'DAILY 2011', 'DAILY 2012', 'DAILY 2013', 'DAILY 2014', 'DAILY 2015', 'DAILY 2016', 'DAILY 2017', 'DAILY 2018', 'DAILY 2019', 'DAILY 2020', 'DAILY 2021', 'DAILY 2022', 'DAILY 2023', 'DAILY 2024', 'DAILY 2025'])

First few rows of DAILY 1999 (Year 1999):
   Date  January  February  March  April  May  June  July  August  September  \
0     1      NaN       NaN    NaN    NaN  NaN   NaN   NaN     NaN        NaN
1     2      NaN       NaN    NaN    NaN  NaN   NaN   NaN     NaN        NaN
2     3      NaN       NaN    NaN    NaN  NaN   NaN   NaN     NaN        NaN
3     4      NaN       NaN    NaN    NaN  NaN   NaN   NaN     NaN        NaN
4     5      NaN       NaN    NaN    NaN  NaN   NaN   NaN     NaN        NaN

   October  November  December  Year
0      NaN       NaN       NaN  1999
1      NaN       NaN       NaN  1999
2      NaN       NaN       NaN  1999
3      NaN       NaN       NaN  1999
4      NaN       NaN       NaN  1999

First few rows of DAILY 2000 (Year 2000):
   Date  January  February  March    April    May     June     July  August  \
0     1    10887   44101.0  61328  35565.0  27649  51806.0  47114.0  165234
1     2    17612   50413.0  56461  20283.0  58001  65159.0  21767.0  184257
2     3    17612   34289.0  64116  57310.0  64948  38966.0  75373.0  168901
3     4    26367   48986.0  39550  56234.0  84225  20345.0  55732.0  199780
4     5    23854   22682.0  21675  57799.0  67223  65290.0  51563.0  152566

   September  October  November  December  Year
0   199514.0    95472   66065.0    274664  2000
1   132325.0   207125   64934.0    173101  2000
2    92935.0   200319       NaN    116240  2000
3   162793.0   193775  178050.0    257495  2000
4   186302.0   181408   90208.0    254492  2000

First few rows of DAILY 2001 (Year 2001):
   Date  January  February     March     April     May      June    July  \
0     1    62000  252918.0  263346.0  124844.0  150228  301619.0  172299
1     2   178150  264166.0  275550.0  274167.0  283417  206008.0  280854
2     3   222181  191888.0  202320.0       NaN  259138  136243.0  291955
3     4   220567  118482.0  129632.0  539343.0  277272  279042.0  269707
4     5   232398  263520.0  271408.0  268919.0  197894  275104.0  261711

   August  September  October  November  December  Year
0  313204   237693.0   316237   91112.0    214486  2001
1  290713   150822.0   309462  106950.0    147387  2001
2  304237   311948.0   317349  136609.0    324267  2001
3  218085   303236.0   302186   83355.0    312200  2001
4  144504   309532.0   327948  302945.0    324108  2001

First few rows of DAILY 2002 (Year 2002):
   Date  January  February     March     April     May      June    July  \
0     1    86441  322458.0  314814.0  280546.0  164383  335339.0  417059
1     2   246979  206358.0  238315.0  287124.0  298415  214646.0  316281
2     3   273626  144281.0  145072.0  297295.0  322984  311443.0  323598
3     4   293265  317658.0  309500.0  280531.0  217967  306696.0  297640
4     5   210808  316657.0  312711.0  304792.0  141816  318532.0  328784

   August  September  October  November  December  Year
0  328417   170362.0   364303   89988.0    170947  2002
1  344398   348288.0   366891  119705.0    362964  2002
2  256100   356725.0   344487  120239.0    360597  2002
3  163776   357510.0   373049  339328.0    374230  2002
4  347382   339880.0   291246  336677.0    380166  2002

First few rows of DAILY 2003 (Year 2003):
   Date  January  February   March     April     May      June    July  \
0     1   101989  264984.0  265436  349622.0  108188  155417.0  359708
1     2   257925  162792.0  162404  349145.0  278445  369940.0  350658
2     3   296717  368620.0  365682  325918.0  208290  349315.0  339720
3     4   213976  344160.0  365682  346811.0  140594  363345.0  359418
4     5   143929  377878.0  376953  165537.0  338787  354356.0  228956

   August  September  October  November  December  Year
0  377441   375699.0   399961       NaN    420799  2003
1  261545   320175.0   358302  138213.0    398921  2003
2  162529   355161.0   374304  364171.0    401295  2003
3  353266   358079.0   283365  371182.0    389641  2003
4  346315   403646.0   175517  395222.0    413059  2003

First few rows of DAILY 2004 (Year 2004):
   Date  January  February   March     April     May      June    July  \
0     1    92165  178608.0  331122  383028.0  155249  387847.0  391328
1     2   157715  404792.0  393683  394551.0  161422  398771.0  366480
2     3   175804  392590.0  416477  268171.0  385497  383281.0  291833
3     4   148092  401380.0  379001  161051.0  370344  377691.0  180506
4     5   376392  384379.0  401678  375409.0  399697  278525.0  406980

   August  September  October  November  December  Year
0  184544   399009.0   382546  110921.0    431614  2004
1  397790   394549.0   269195  336617.0    287939  2004
2  398816   414008.0   171315  400662.0    269279  2004
3  393945   295329.0   364830  397943.0    310303  2004
4  403028   185748.0   403430  426729.0    208257  2004

First few rows of DAILY 2005 (Year 2005):
   Date  January  February     March     April     May      June    July  \
0     1   105539  438803.0  402166.0  403862.0  183236  411535.0  427590
1     2   159458  422558.0  430933.0  291949.0  206728  404792.0  309332
2     3   376333  393487.0  382505.0  167164.0  426327  415031.0  185431
3     4   382150  424072.0  421645.0  413156.0  412016  295023.0  418579
4     5   412453  299248.0  290146.0  403954.0  410340  179066.0  390597

   August  September  October  November  December  Year
0  414126   415363.0   302855  122010.0  430225.0  2005
1  403796   449557.0   199329  367843.0  458208.0  2005
2  429873   309211.0   412293  380582.0  337488.0  2005
3  397986   194452.0   417254  227633.0  224595.0  2005
4  418045   433847.0   438283  250714.0  440316.0  2005

First few rows of DAILY 2006 (Year 2006):
   Date  January  February   March     April     May      June    July  \
0     1   134830  458662.0  445630  312014.0  195762  405139.0  324653
1     2   333588  421882.0  430662  205445.0  457502  459258.0  196435
2     3   407858  452204.0  438405  433720.0  439344  306522.0  424923
3     4   412720  311947.0  318666  422839.0  410260  210602.0  419532
4     5   401756  223940.0  204582  440561.0  435297  419059.0  446599

   August  September  October  November  December  Year
0  419582   448773.0   154945  185774.0    223589  2006
1  441099   324105.0   430796  388742.0    318625  2006
2  421698   214337.0   393276  423238.0    227002  2006
3  446349   425295.0   437150  306749.0    458188  2006
4  323196   413897.0   396967  199969.0    457639  2006

First few rows of DAILY 2007 (Year 2007):
   Date  January  February   March     April     May      June    July  \
0     1   141016  425837.0  447758  217333.0  250371  438295.0  223923
1     2   355995  445860.0  459860  442141.0  465980  348020.0  439244
2     3   441916  330610.0  333803  409467.0  434291  221653.0  466687
3     4   406497  229259.0  218108  422213.0  462583  466908.0  462464
4     5   451797  446062.0  455742       NaN  313651  440113.0  449491

   August  September  October  November  December  Year
0  474485   352874.0   468797  179479.0    345771  2007
1  446642   234110.0   472838  212462.0    243232  2007
2  458676   465532.0   491047  259272.0    496474  2007
3  350681   461112.0   468788  205352.0    482690  2007
4  221776   483251.0   509295  471545.0    492370  2007

First few rows of DAILY 2008 (Year 2008):
   Date  January  February     March     April     May      June    July  \
0     1   110192  496150.0  358578.0  473962.0  274414  252782.0  485100
1     2   397889  348464.0  231854.0  483520.0  486246  474364.0  466124
2     3   435271  231437.0  469549.0  454974.0  323486  479539.0  442153
3     4   454534  466930.0  491624.0  487748.0  220067  473906.0  490396
4     5   330697  476218.0  496438.0  345511.0  471519  483120.0  355491

   August  September  October  November  December  Year
0  488953   482906.0   261054  190397.0    273023  2008
1  360058   479518.0   478853  213145.0    507355  2008
2  249625   471470.0   507647  441818.0    495686  2008
3  473879   471435.0   357326  475222.0    471006  2008
4  478523   493645.0   231110  487197.0    498044  2008

First few rows of DAILY 2009 (Year 2009):
   Date  January  February   March     April     May      June    July  \
0     1   127298  241185.0  230882  498061.0  307232  457997.0  494814
1     2   229137  493540.0  471035  473586.0  309735  483864.0  463542
2     3   474086  482317.0  487136  483897.0  204541  476921.0  478762
3     4   199787  493693.0  482315  347251.0  474876  443145.0  357638
4     5   451847  491164.0  471025  233745.0  478907  486431.0  226216

   August  September  October  November  December  Year
0  355693   515893.0   472283  185257.0    492283  2009
1  250715   497392.0   457268  243694.0    502922  2009
2  475915   472283.0   257293  490833.0    498186  2009
3  501562   503392.0   243527  486643.0    510301  2009
4  262749   369355.0   504078  485860.0    395257  2009

First few rows of DAILY 2010 (Year 2010):
   Date  January  February   March     April     May      June    July  \
0     1   139850  495391.0  495063       NaN  331935  483783.0  475884
1     2   229728  488295.0  499166       NaN  228600  494201.0  472821
2     3   214940  500554.0  500491       NaN  260751  470649.0  396227
3     4   474541  476445.0  474460       NaN  496952  494497.0  234546
4     5   461126  519856.0  494491  446767.0  492654  336038.0  473844

   August  September  October  November  December  Year
0  249568   511759.0   505462  422416.0    533098  2010
1  477649   477291.0   375483  443752.0    496934  2010
2  491573   519277.0   248574  500965.0    535646  2010
3  481674   370546.0   458613  492571.0    391318  2010
4  492344   265203.0   501663  516519.0    265271  2010

First few rows of DAILY 2011 (Year 2011):
   Date  January  February   March     April     May      June    July  \
0     1   153372  506164.0  471434  490458.0  226679  518963.0  529469
1     2   221945  489889.0  478007  354580.0  480247  488633.0  395782
2     3   451472  470226.0  512872  240876.0  482400  516677.0  259520
3     4   491378  506197.0  501280  483480.0  488761  346949.0  499607
4     5   506431  370289.0  367800  486493.0  461227  250341.0  509545

   August  September  October  November  December  Year
0  501071   507327.0   172161  193263.0    534021  2011
1  472138   533484.0   245621  457682.0    555240  2011
2  507955   388507.0   505749  523654.0    419802  2011
3  479598   250917.0   504849  523875.0    249939  2011
4  530646   508871.0   521782  376959.0    534704  2011

First few rows of DAILY 2012 (Year 2012):
   Date  January  February   March     April     May      June    July  \
0     1   168980  555035.0  535650  240077.0  308966  555237.0  267650
1     2   429076  532057.0  559488  539170.0  550388  402496.0  533408
2     3   501922  552901.0  404068  490204.0  545702  277369.0  479231
3     4   506575  403313.0  261107  503650.0  560537  528293.0  555613
4     5   507024  261835.0  538642       NaN  397740  529670.0  554915

   August  September  October  November  December  Year
0  560114   451756.0   574480  230388.0    441284  2012
1  551763   284745.0   566311  275577.0    305760  2012
2  578642   558469.0   539891  317852.0    588967  2012
3  433009   579091.0   536182  261450.0    566424  2012
4  271508   574514.0   552454  577207.0    609137  2012

First few rows of DAILY 2013 (Year 2013):
   Date  January  February     March     April     May      June    July  \
0     1   181222  578820.0  576856.0  514938.0  336453  422327.0  581686
1     2   476252  428838.0  359620.0  540635.0  551756  247252.0  552586
2     3   509964  278295.0  267633.0  555031.0  560951  546145.0  560469
3     4   543636  564351.0  562138.0  515674.0  408593  547669.0  568839
4     5   408704  568209.0  555313.0  556033.0  269993  544060.0  588493

   August  September  October  November  December  Year
0  586149   277498.0   587135  253621.0    307531  2013
1  612596   572361.0   574859  271200.0    550186  2013
2  440719   524759.0   548744  293944.0    616265  2013
3  280724   556040.0   615734  548421.0    570218  2013
4  575654   589591.0   439909  565169.0    571896  2013

First few rows of DAILY 2014 (Year 2014):
   Date  January  February   March     April     May      June    July  \
0     1   195089  419109.0  449778  490259.0  313443  283610.0  572018
1     2   460305  275274.0  293162  512304.0  527380  522611.0  553119
2     3   515462  572155.0  555507  512129.0  379614  491003.0  563748
3     4   388761  565869.0  555738  535710.0  256569  514877.0  561954
4     5   275516  570365.0  569432  419908.0  521546  514859.0  434458

   August  September  October  November  December  Year
0  582959   467141.0   554740  204813.0    518213  2014
1  430249   510567.0   494203  225710.0    525794  2014
2  278727   525394.0   544457  498423.0    522577  2014
3  578137   483555.0   403175  501365.0    526923  2014
4  567963   526061.0   271331  530140.0    555683  2014

First few rows of DAILY 2015 (Year 2015):
   Date  January  February     March     April       May           June  \
0     1   117127  204772.0  114845.0  351025.0  212220.0  315400.977660
1     2   243500  406668.0  406628.0       NaN  246067.0  323955.928342
2     3   261647  406977.0  408197.0       NaN  152724.0  330062.928453
3     4   208443  414006.0  405025.0       NaN  375470.0  326348.978150
4     5   419817  374642.0  391820.0       NaN  412342.0  339141.975934

       July    August  September  October  November  December  Year
0  370748.0  302246.0   374616.0   334902  137487.0    390797  2015
1  335255.0  181174.0   347033.0   325794  318576.0    386462  2015
2  352844.0  376104.0   369703.0   222956  373726.0    387283  2015
3  254650.0  337697.0   374482.0   156565  386391.0    394668  2015
4  161312.0  382436.0   281818.0   336339  370382.0    325155  2015

First few rows of DAILY 2016 (Year 2016):
   Date  January  February     March     April     May      June    July  \
0     1   106936  382975.0  403345.0  398512.0  195516  409018.0  443208
1     2   177050  382910.0  399016.0  288511.0  386434  391274.0  302344
2     3   178390  381996.0  396556.0  183379.0  396441  414812.0  192348
3     4   345458  372291.0  403032.0  388328.0  383553  291913.0  417340
4     5   356991  406903.0  301370.0  394661.0  394425  193495.0  441873

   August  September  October  November  December  Year
0  444655   439277.0   349421  167666.0    490006  2016
1  449648   462068.0   220113  406761.0    513071  2016
2  450833   325914.0   445930  452402.0    373176  2016
3  438731   195374.0   461939  470136.0    240275  2016
4  466542   424210.0   458117  339572.0    485088  2016

First few rows of DAILY 2017 (Year 2017):
   Date  January  February   March     April     May      June    July  \
0     1   138750  485427.0  489077  332832.0  195791  448030.0  332461
1     2   222873  468509.0  472200  212348.0  473437  448342.0  198889
2     3   426830  498423.0  495795  466570.0  464252  319851.0  444243
3     4   449262  346690.0  339299  474597.0  451045  203962.0  439154
4     5   449942  219420.0  217812  464527.0  473341  418844.0  419372

   August  September  October  November  December  Year
0  463091   294000.0   220356  167686.0    439523  2017
1  455875   307246.0   445302  388745.0    327882  2017
2  453245   208622.0   471614  444534.0    221102  2017
3  485522   453604.0   458431  295975.0    409139  2017
4  336825   453490.0   453412  203288.0    426704  2017

First few rows of DAILY 2018 (Year 2018):
   Date  January  February     March     April     May      June    July  \
0     1   125183  316834.0  264315.0       NaN  165902  340948.0  170558
1     2   282285  288312.0  262612.0  281148.0  341388  240366.0  329118
2     3   374098  250047.0  221963.0  295179.0  326335  166651.0  336517
3     4   372161  170298.0  152621.0  306807.0  338150  305728.0  338992
4     5   383480  296325.0  267883.0  311649.0  238633  324857.0  332750

   August  September  October  November  December  Year
0  356668   267081.0   324616  145398.0    254674  2018
1  351937   173212.0   336517  158433.0    190313  2018
2  381091   338009.0   331484  188588.0    346303  2018
3  269340   347934.0   328882  157032.0    341978  2018
4  175514   352103.0   348685  340725.0    357779  2018

First few rows of DAILY 2019 (Year 2019):
   Date  January  February   March     April     May      June    July  \
0     1   111068  359139.0  344595  312273.0  179852  236296.0  293810
1     2   249746  254091.0  246793  318687.0  309544  157902.0  298088
2     3   310851  164619.0  162143  314793.0  301404  297212.0  310956
3     4   327192  327504.0  308569  313836.0  215341  309649.0  299556
4     5   231877  200176.0  313578  319103.0  148061  186552.0  313818

   August  September  October  November  December  Year
0  306695   154963.0   298967  120589.0    173668  2019
1  307618   297647.0   265854  126849.0    290841  2019
2  194238   305080.0   292894  140046.0    214625  2019
3  155000   313031.0   296384  256229.0    292011  2019
4  307570   307951.0   227615  297968.0    312400  2019

First few rows of DAILY 2020 (Year 2020):
   Date  January  February     March  April  May     June     July   August  \
0     1    95691  206931.0  142363.0    NaN  NaN  25221.0  65604.0  48294.0
1     2   226990  136948.0  293487.0    NaN  NaN  26020.0  65564.0  38925.0
2     3   261975  287576.0  290180.0    NaN  NaN  29524.0  69930.0  69287.0
3     4   187850  292511.0  290262.0    NaN  NaN  30894.0      NaN      NaN
4     5   142809  288941.0  287456.0    NaN  NaN  34823.0      NaN      NaN

   September  October  November  December  Year
0    62168.0    69278   13403.0    119037  2020
1    59512.0    66390   51663.0    119162  2020
2    57646.0    65056  104346.0    116719  2020
3    61486.0    54928   99409.0    121741  2020
4    51881.0    72654   97712.0    102043  2020

First few rows of DAILY 2021 (Year 2021):
   Date  January  February     March    April     May      June    July  \
0     1    55727  162254.0  171717.0      NaN   83664  130612.0  143091
1     2    90637  155936.0  163126.0      NaN   69526  123358.0  144633
2     3    79520  156609.0  165502.0      NaN  125533  122155.0  124050
3     4   141882  151267.0  159690.0      NaN  113179  132981.0   94260
4     5   138096  161314.0  169229.0  69801.0  114167  111942.0  154417

   August  September  October  November  December  Year
0   88495   115633.0   132155   80915.0    186111  2021
1  155585   113008.0   109550  138456.0    171519  2021
2  152546   118216.0    77868  150142.0    182982  2021
3  156345    93787.0   138074  144280.0    160902  2021
4  156493    60500.0   126529  154098.0    122681  2021

First few rows of DAILY 2022 (Year 2022):
   Date  January  February   March     April     May      June    July  \
0     1    98208  127955.0  228532  309225.0  211855  362400.0  333761
1     2   136655  196521.0  230615  263756.0  325884  357925.0  263955
2     3   179792  186210.0  222331  206934.0  223345  368565.0  196943
3     4   160906  196951.0  236001  315281.0  345268  310896.0  321978
4     5   153183  164360.0  198203  296500.0  325910  243117.0  317351

   August  September  October  November  December  Year
0  321445   312728.0   277875  168476.0    341694  2022
1  315161   319435.0   207786  280394.0    340137  2022
2  317768   239091.0   320530  328845.0    291465  2022
3  307961   185877.0   302196  328808.0    220567  2022
4  316420   318368.0   328443  258971.0    336754  2022

First few rows of DAILY 2023 (Year 2023):
   Date  January  February   March     April     May      June    July  \